.wrapper {
  margin: 0 auto;
  width: 1280px;
  margin-top: 90px;
  height: 800px;
  overflow: hidden;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
h2 {
  position: relative;
  font-family: "Righteous", cursive;
  color: "blue";
}
.img_cover {
  background-size: cover !important;
}

.banner_wrapper {
  margin: 0 auto;
  width: 1280px;
  margin-top: 90px;
  height: 800px;
  overflow: hidden;
}
.stack_wrapper {
  background: #1294f6;
  margin-top: 9px;
  padding: 50px 0px;
}
